service {
  db {
    defaultDb = "sqlite"
    h2mem = {
      connectionPool = disabled
      url = "jdbc:h2:mem:eagerwords"
      driver = "org.h2.Driver"
      keepAliveConnection = true
    }
    sqlite = {
      connectionPool = disabled
      url = "jdbc:sqlite:eagerwords.db"
      driver = "org.sqlite.JDBC"
      keepAliveConnection = true
    }
  }
  maxActiveGames = 100
  maxGameIdleMinutes = 30
  dictionaryDir = "dict"
  languageCodes = ["test", "tiny"]
}

# Special parameters used for testing - known to tests.

test {
    mockEmail = ""
    mockToken = ""
}


play.http.secret.key = pleasechangeme

play.filters {
    # The allowed origins. If null, all origins are allowed.
    # 3000 is the web UI development server - 5000 is the web UI production server
    # no port is for local jest integration tests.
    allowedOrigins = ["http://localhost:3000", "http://localhost:5000", "http://localhost"]
}

